{% extends 'base.html.twig' %}
{%block body %}
    <div class="card-columns">
        {% for item in users %}
            <div class="card">
                <div class="card-body">
                    <center>{{item}}</center>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}