{% extends 'base.html.twig' %}

{% block title %}
	S'enregistrer - {{ parent() }}
{% endblock %}

{% block searchbar %}{% endblock %}
{% block body %}


	<div class="container">
		<div class="card">
			<div class="card-body">
				<h1 class="card-title">Ajouter un produit</h1>

				{{ form_start(form) }}
					{{ form_widget(form) }}
					<button type="submit" class="btn btn-primary">Valider</button>
				{{ form_end(form) }}
			</div>
		</div>

	</div>

{% endblock %}




{% block javascripts %}
	{% include 'pubchemapi.html.twig' %}

{% endblock %}

